.all-skills{
    width: 80%;
    margin: auto;
    padding:3rem;
    box-shadow: 0 10px 10px 0 whitesmoke;
    border-radius: 3rem;
}
.candidate{
    display: block;
    border-radius: 3rem;
    box-shadow: 0 3px 3px 0 rgba(245, 245, 245, 0.219);
    margin: 3rem;
    padding: 3rem;
}
.info{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    color: blanchedalmond;
}
.progressBar{
    background:violet;
    display: block;
    height: 1rem;
    border: 1px solid blueviolet;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.progressBar span{
    height: 1rem;
    border-radius: 1.4rem;
    float: left;
    background:black;
    position: relative;
}
.html{
    width: 86%;
    animation: html 3s;
}
.progressBar span::after{
    position:absolute;
    right: -30px;
    top: -2px;
    color:black;
    font-size: small;
}
.progressBar .html::after{
content: '86%';
}
.progressBar .css::after{
content: '90%';
}
.progressBar .js::after{
content: '80%';
}
.css{
    width: 90%;
    animation: css 3s;
}
.js{
    width: 80%;
    animation: js 3s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 86%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.tech-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}